<style>
	.hr1 hr {
		margin-top: 0;
	}
</style>


{% if categories %}
<nav class="desktop-menu">
	<ul class="nav justify-content-space-around w-100">

		{% for category in categories %}


		{% if category.children %}

		<li class="dropdown" style="position: relative;">
			<a href="{{ category.href }}">{{ category.name }}</a>
			{% if category.name == "Wholesale" %}
			<ul class="dropdown row"
				style="    width: -webkit-fill-available; left: 20%; padding: 20px 50px; position: fixed; top: 150px;">
				<li class="col-md-12 pt-3 pb-4hr1 row" style="text-align: start;">
					<div class="col-md-3">
						<img src="image/new/ti/4.jpg" alt="{{ child.name }}" style="width: 250px;    border-radius: 20px;">
					</div>
					<div class="col-md-3">
						<img src="image/new/ti/5.jpg" alt="{{ child.name }}"style="width: 250px;    border-radius: 20px;">
					</div>
					<div class="col-md-3">
						<img src="image/new/ti/6.jpg" alt="{{ child.name }}"style="width: 250px;    border-radius: 20px;">
					</div>
					<div class="col-md-3">
						<img src="image/new/ti/7.jpg" alt="{{ child.name }}"style="width: 250px;    border-radius: 20px;">
					</div>



					<a href="{{ child.href }}" class="mt-5" style="font-weight: 600; font-size: 23px; color:#dc3545;">VIEW ALL</a>
					
				</li>
				{% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil'))
				%}
				{% for child in children %}
				{% if child.childrens %}
				<li class="col-md-12 hr1 pb-3 row" style="text-align: start;">
					<a class="col-md-12"href="{{ child.href }}" style="font-size: 18px; color:#32baa1;">
						{{ child.name }}
					</a>
					<ul>
						{% for child1 in child.childrens %}
						<li>
							<a href="{{ child1.href }}" style="font-size: 18px; color:#32baa1;">{{ child1.name }}</a>
						</li>
						{% endfor %}
					</ul>
				</li>
				{% else %}
				<li class="col-md-12 hr1 pb-2 row">
			
					<a class="col-md-12"href="{{ child.href }}" style="font-size: 18px; color:#32baa1;">
						{{ child.name }}
					</a>
				</li>
				{% endif %}

				{% endfor %}
				{% endfor %}
			</ul>
			{% else %}
			<ul class="dropdown row"
				style="    width: -webkit-fill-available; left: 20%; padding: 20px 50px; position: fixed; top: 150px;">

				{% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil'))
				%}
				{% for child in children %}
				{% if child.childrens %}
				<li class="col-md-4 pt-3 hr1 pb-2" style="text-align: center;">
					{% if child.image %}
					<img src="{{ child.image }}" alt="{{ child.name }}" style="border-radius: 20px;">
					{% endif %}
					<p
						style="color:#dc3545; font-weight: 600; text-transform: uppercase; margin-top: 30px; font-size: 20px;">
						{{ child.name }}
					</p>
					<a href="{{ child.href }}" style="font-weight: 600; font-size: 20px; color:#32baa1;">SHOP ALL</a>
					<ul>
						{% for child1 in child.childrens %}
						<li>
							<a href="{{ child1.href }}" style="font-size: 18px; color:#32baa1;">{{ child1.name }}</a>
						</li>
						{% endfor %}
					</ul>
				</li>
				{% else %}
				<li class="col-md-4">
					<a href="{{ child.href }}" style="color:#32baa1; font-weight: 800; text-transform: uppercase;">
						{{ child.name }}
					</a>
				</li>
				{% endif %}
				{% endfor %}
				{% endfor %}
			</ul>
			{% endif %}
		</li>

		{% else %}
		<li>
			<a href=" {{ category.href }} ">{{ category.name }}</a>
		</li>
		{% endif %}
		{% endfor %}
		</li>

	</ul>
</nav>{% endif %}</li>