{% if categories %}
<style>
	.mobile_menu .col-12 hr {
		margin: 7px 0;
	}

	.mobile-navigation {
		max-height: 500px;
	}

	.mobile_menu .col-12 a {
		text-transform: uppercase;
		color: #333;
		font-size: 12px;
	}

	.collapse-span {
		display: none;
	}
</style>
<!-- Your HTML content here -->
<div class=" mobile_menu">
	<nav>

		<ul class="mobile-menu">

			{% for category in categories %}
			{% if category.children %}
			<li class="menu-item-has-children">
				{% set myVariable = category.href %}
				<a href="{{ category.href }}">{{ category.name }}</a>
				<ul class="dropdown">
					{% for children in category.children|batch(category.children|length /
					category.column|round(1, 'ceil')) %}
					{% for child in children %}
					<li>
						<a href="{{ child.href }}">{{ child.name }}</a>
					</li>
					{% endfor %}
					{% endfor %}
				</ul>
			</li>
			{% else %}

			<li class="d-flex" style="align-items: center;">
				{% if category.name == "New Arrival" %}
				<a href=" {{ category.href }} " class="blink" style="color:#f48282;font-weight: bold;">
					{{ category.name }}</a>
				{% else %}

				<a href=" {{ category.href }} ">
					{{ category.name }}</a>
				{% endif %}
			</li>

			{% endif %}
			{% endfor %}

		</ul>

	</nav>


</div>
{% endif %}
<script>
	$(document).ready(function () {
		$(".collapse-toggle").click(function (e) {
			e.preventDefault();
			$(".collapse-span").slideToggle();
		})
	})
	document.addEventListener("DOMContentLoaded", function () {
		// Get all elements with the class "collapse-toggle"
		var collapseToggles = document.querySelectorAll(".collapse-toggle");

		// Add click event listeners to the collapse toggles
		collapseToggles.forEach(function (collapseToggle) {
			collapseToggle.addEventListener("click", function () {
				// Get the next sibling element (which is the span with class "collapse-span")
				var collapseSpan = this.nextElementSibling;

				// Toggle the display property of the collapse-span element
				if (collapseSpan.style.display === "block") {
					collapseSpan.style.display = "none";
				} else {
					collapseSpan.style.display = "block";
				}
			});
		});
	});
</script>