{{ header }}

<!-- Swiper Slider CSS-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
<!-- Swiper JS -->
<style>
   .slick-next:before {
      content: '';
   }

   .slick-prev:before {
      content: '';
   }
</style>


  <div id="content"></div>

<!-- hero slider area start -->
<section class="slider-area">
   <div class="row">
      <div class="slider_banner col-12">
         <div class="desktop-slider hero-slider-active slick-arrow-style slick-arrow-style_hero slick-dot-style">
            {% for banner in banners %}
            <a href="{{ banner.link }}">
               <img src="{{ banner.image }}" alt="" class="img-response slider-img">
            </a>
            {% endfor %}
         </div>
      </div>
   </div>
</section>
<!-- hero slider area end -->


{# top picks start #}
<section class="container top-picks mt-5">
   <div class=" ">
      <div class="row text-center">
         <div class="col-sm-12">
            <h3 style="text-transform:uppercase;">Top Picks</h3>
         </div>
      </div>
      <br />
      <div class="row mt-1">
         <div class="col-md-12" style="padding:0 10px;">
            <div class="swiper topSwiper4">
               <div class="swiper-wrapper">
                  {% if products %}
                  {% for product in products %}
                  <div class="swiper-slide">
                     <div class="product-card text-center">
                        <div class="image">
                           <a onclick="" href="{{ product.href }}">
                              <img onclick="" style="z-index: 99999999;" src="{{ product.thumb }}"
                                 alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive pthumb" />
                           </a>
                        </div>
                        <a class="wishlist_link" onclick="wishlist.add('{{ product.product_id }}');">
													{% if not product.wish %}
														<i class="pe-7s-like" btnid="{{ product.product_id }}" btnname="{{ product.name }}" btnimg="{{ product.thumb }}" btnhref="{{ product.href }}" btnprice="{{ product.price }}" btnsprice="{{ product.special }}" style="color: #f06639; font-size:24px;"></i>
													{% else %}
														<i class="fa fa-heart" style="color: #f06639; font-size:24px;" aria-hidden="true"></i>

													{% endif %}
												</a>
                        <a onclick="" href="{{ product.href }}">
                           <p class="product_name"
                              style="color:  rgba(0, 59, 49, 1); font-size:14px; text-transform:uppercase">
                              {{ product.name }}
                           </p>
                        </a>
                        {% if product.price %}
                        <p class="price mb-10" style="color:  rgba(0, 59, 49, 1); ">
                           {% if not product.special %}
                           {{ product.price }}
                           {% else %}
                           <span style="white-space: nowrap" class="price-new">
                              {{ product.special }}
                           </span>
                           <span style="text-decoration:none; color: #1677BC;display:none;">{{ product.percent }}%
                              OFF</span>
                           </span>
                           <span style="white-space: nowrap;color: rgba(0, 59, 49, 1);" class="price-old">
                              {{ product.price }}
                           </span>
                           {% endif %}
                        </p>
                        {% endif %}
                        <button class="btn btn-primary" onclick="cart.add('{{ product.product_id }}');">ADD TO
                           CART</button>
                     </div>
                  </div>
                  {% endfor %}
                  {% endif %}
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section>
   <img src="image/collection.jpg" alt="">
</section>
<section class=" mt-5 mb-3 text-center">
<div class="container ptb-30">
<h3 style="text-transform:uppercase;" >Shop By Category</h3>
<br>
   <div class="row mt-1">

      <div class="col-md-3 col-sm-3 mb-3 mobile-padding-0">

         <a href="{{ gb1_link }}">
            <p class="serv-name2">{{ gb1_title }}
            </p>
            <img src="image/{{ gb1_image }}" alt="" class="serv-img" title="" />
         </a>

      </div>
      <div class="col-md-3 col-sm-3 mb-3 mobile-padding-0">
         <a href="{{ gb2_link }}">
            <p class="serv-name2 ">{{ gb2_title }}
            </p>
            <img src="image/{{ gb2_image }}" alt="" class="zoom serv-img" title="" />
         </a>
      </div>


      <div class="col-md-6 col-sm-6 mb-3 mobile-padding-0">
         <a href="{{ gb3_link }}">
            <p class="serv-name2 ">{{ gb3_title }}
            </p>
            <img src="image/{{ gb3_image }}" alt="" class="zoom serv-img" title="" />
         </a>
      </div>

      <div class="col-md-6  text-center serv-name1 mb-3" style="margin-top:-24%;">
         <a href="{{ gb4_link }}">
            <p class="serv-name2  ">{{ gb4_title }}
            </p>
            <img src="image/{{ gb4_image }}" alt="" class="serv-img" title="" />
         </a>
      </div>
      <div class="col-md-3  text-center serv-name1 mb-3">
         <a href="{{ gb5_link }}">
            <p class="serv-name2 ">{{ gb5_title }}
            </p>
            <img src="image/{{ gb5_image }}" alt="" class="serv-img" title="" />
         </a>
      </div>
      <div class="col-md-3  text-center serv-name1 mb-3">
         <a href="{{ gb6_link }}">
            <p class="serv-name2  ">{{ gb6_title }}
            </p>
            <img src="image/{{ gb6_image }}" alt="" class="serv-img" title="" />
         </a>
      </div>


   </div>
</div>
   
</section>
<script>

   var swiper = new Swiper(".topSwiper", {
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 3,
      spaceBetween: 40,
      loop: true,
      autoplay: 3000,
      speed: 800,
      navigation: {
         nextEl: '.swiper-button-next',
         prevEl: '.swiper-button-prev'
      }
   });

   var swiper = new Swiper(".topSwiper5", {
      pagination: {
         el: ".top-swiper-pagination",
         clickable: true
      },
      navigation: {
         nextEl: ".swiper-button-next",
         prevEl: ".swiper-button-prev"
      },
      loop: true,
      autoplay: 2000,
      speed: 800,
      // Default parameters
      slidesPerView: 4,
      spaceBetween: 1,
      // Responsive breakpoints
      breakpoints: {
         120: {
            slidesPerView: 1,
            spaceBetween: 20
         },
         640: {
            slidesPerView: 1,
            spaceBetween: 20
         },
         768: {
            slidesPerView: 4,
            spaceBetween: 40
         },
         1024: {
            slidesPerView: 5,
            spaceBetween: 50
         }
      }

   });


   var swiper = new Swiper(".topSwiper4", {
      pagination: {
         el: ".top-swiper-pagination",
         clickable: true
      },
      navigation: {
         nextEl: ".swiper-button-next",
         prevEl: ".swiper-button-prev"
      },
      loop: true,

      slidesPerView: 4,
      spaceBetween: 10,
      breakpoints: {
         120: {
            slidesPerView: 1,
            spaceBetween: 20
         },
         640: {
            slidesPerView: 2,
            spaceBetween: 10
         },
         768: {
            slidesPerView: 3,
            spaceBetween: 20
         },
         1024: {
            slidesPerView: 4,
            spaceBetween: 20
         }
      }

   });</script>{{ footer }}